
/* Full-width input fields */
body {
    font-family: Arial, Helvetica, sans-serif;
    background: black;
}

.label{
    cursor: pointer;
    color: #F1F1F1;
    display: block;
    padding: 10px;
    margin: 3px;
}



input[type=text], input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #F1F1F1;
}

input[type=text]:focus, input[type=password]:focus {
    background-color: #ddd;
    outline: none;
}

/* Overwrite default styles of hr */
hr{
    border: 1px solid #F1F1F1;
    margin-bottom: 25px;
}

/* Set a style for the submit/register button */
.register-btn {
    background-color: #4CAF50;
    color: #F1F1F1;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}


.register-btn:hover {
    opacity:1;
}

/* Add a blue text color to links */
a {
    color: dodgerblue;
}

/* Set a grey background color and center the text of the "sign in" section */
.signin {
    background-color: #F1F1F1;
    text-align: center;
}

/* Set a style for all buttons */
button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

button:hover {
    opacity: 0.8;
}

/* Extra styles for the cancel button */
.cancel-btn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
}

/* Center the image and position the close button */
.img-container {
    text-align: center;
    margin: 24px 0 12px 0;
    position: relative;
}

img.avatar {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}


img.logo {
    width: 150px;
    height: 150px;
    position: absolute;
    left: 0;
    top: -15px;
    z-index: 0;
    opacity: 0.2%;
    border-radius: 0;
}

img.logo-banner {
    width: 189px;
    height: 64px;
    position: absolute;
    left: 0;
    top: -10px;
    z-index: 0;
    opacity: 0.2%;
    border-radius: 0;
}

.container {
    padding: 16px;
}

.modal.container{
    background-color: #F1F1F1;
}

span.psw {
    float: right;
    padding-top: 16px;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
    background-color: #2D6077;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 50%; /* Could be more or less, depending on screen size */
}

/* The Close Button (x) */
.close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: red;
    cursor: pointer;
}

/* Add Zoom Animation */
.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animate-zoom 0.6s
}

@-webkit-keyframes animate-zoom {
    from {-webkit-transform: scale(0)}
    to {-webkit-transform: scale(1)}
}

@keyframes animate-zoom {
    from {transform: scale(0)}
    to {transform: scale(1)}
}

/* Style all font awesome icons */
.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
}

/* Add a hover effect if you want */
.fa:hover {
    opacity: 0.7;
}

/* Set a specific color for each brand */

/* Facebook */
.fa-facebook {
    background: #3B5998;
    color: white;
}

/* Twitter */
.fa-twitter {
    background: #55ACEE;
    color: white;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    span.psw {
        display: block;
        float: none;
    }

    .cancel-btn {
        width: 100%;
    }
}

footer {
    margin: 0px auto;
    height:65px;
    border-top: 1px dotted #666;
    clear:both; 	/*to recognize the main div wrapper*/
    line-height:50px; /*centered the footer section*/
    text-align: center;
    width: 100%;
    overflow: hidden;
}

footer ul li {
    float:left;
    list-style-type:none;  /*removed the bullets*/
    margin: 0 30px 0 10px;
    color: #666;
    font-size:.7em;
    position: relative;
    display: block;
    right: 50%;
}

footer ul {
    list-style: none;
    position: relative;
    float: left;
    display: block;
    left: 50%;
}


#carousel{
    background-color: darkgrey;
}

#carousel.carousel-inner{
    height: 800px;
}

#carousel .carousel-inner img{
    width: 100% !important;
    height: 100% !important;
}
span.carousel-control-next-icon{
    background-color: red;
}
span.carousel-control-prev-icon{
    background-color: red;
}
a.navbar-brand{
    justify-content: right;
    margin-right: 78%;
}

.navbar{
    background-color: #2D6077 !important;
}

.navbar-brand{
    color: #F1F1F1 !important;
}

.nav-link{
    color: #F1F1F1 !important;
}

body {
    background-color: #F2FEFE;
}

/*Removed by Francesco
/*
#tabs_section {
    float: left;
    width: 40%;
}

#filter_section {
    float: right;
    margin-top: 12em;
    margin-right: 8em;
    alignment: center;
    width: 35%;
}
*/

#map {
    width: 1105px;
    height: 400px;
    background-color: grey;
}

.nav {
    background-color: #316117 !important;
}

.nav>li>a {
    background-color: #316117 !important;
    color: #fff;
}

.jumbotron-fluid{
    background-color: #F1F1F1;
}

.container.button{
    background-color: green;
}


/* Organization Events css*/
@media (min-width: 768px) {
    /* show 3 items */
    .carousel-inner .active,
    .carousel-inner .active + .carousel-item,
    .carousel-inner .active + .carousel-item + .carousel-item {
        display: block;
    }

    .carousel-inner
    .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left),
    .carousel-inner
    .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left)
    + .carousel-item,
    .carousel-inner
    .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left)
    + .carousel-item
    + .carousel-item {
        transition: none;
    }

    .carousel-inner .carousel-item-next,
    .carousel-inner .carousel-item-prev {
        position: relative;
        transform: translate3d(0, 0, 0);
    }

    .carousel-inner
    .active.carousel-item
    + .carousel-item
    + .carousel-item
    + .carousel-item {
        position: absolute;
        top: 0;
        right: -33.3333%;
        z-index: -1;
        display: block;
        visibility: visible;
    }

    /* left or forward direction */
    .active.carousel-item-left + .carousel-item-next.carousel-item-left,
    .carousel-item-next.carousel-item-left + .carousel-item,
    .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item,
    .carousel-item-next.carousel-item-left
    + .carousel-item
    + .carousel-item
    + .carousel-item {
        position: relative;
        transform: translate3d(-100%, 0, 0);
        visibility: visible;
    }

    /* farthest right hidden item must be abso position for animations */
    .carousel-inner .carousel-item-prev.carousel-item-right {
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        display: block;
        visibility: visible;
    }

    /* right or prev direction */
    .active.carousel-item-right + .carousel-item-prev.carousel-item-right,
    .carousel-item-prev.carousel-item-right + .carousel-item,
    .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item,
    .carousel-item-prev.carousel-item-right
    + .carousel-item
    + .carousel-item
    + .carousel-item {
        position: relative;
        transform: translate3d(100%, 0, 0);
        visibility: visible;
        display: block;
        visibility: visible;
    }

    .carousel-control-next, .carousel-control-prev {
        width: .9%;
    }
}

.card-text, .register {
    font-size: small;
}
