

footer {
    margin: 0px auto;
    height:65px;
    border-top: 1px dotted #666;
    clear:both; 	/*to recognize the main div wrapper*/
    line-height:50px; /*centered the footer section*/
    text-align: center;
    width: 100%;
    overflow: hidden;
}

footer ul li {
    float:left;
    list-style-type:none;  /*removed the bullets*/
    margin: 0 30px 0 10px;
    color: #666;
    font-size:.7em;
    position: relative;
    display: block;
    right: 50%;
}

footer ul {
    list-style: none;
    position: relative;
    float: left;
    display: block;
    left: 50%;
}

#carousel{
    background-color: darkgrey;
}
span.carousel-control-next-icon{
    background-color: red;
}
span.carousel-control-prev-icon{
    background-color: red;
}
a.navbar-brand{
    margin-right: 78%;
}